.facebook{
   left: 12%;
   margin-top: 17%;
   margin-left: 15%;
   margin-bottom: -15%;
}
.connection{
   width: 400px;
   padding: 1rem;
   background-color: hwb(0 100% 0%);
   box-shadow: 0 1px rgba(0, 0, 0, 0.4);
   margin: 8px, auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 2%;
   margin-left: 52%;
   margin-top: -110px;
}
.text{
   border-radius: 0.3rem;
}